.tituloCategoriaEmpresa{
    font-size: 1rem;
    font-weight: 700;
    color: rgb(0, 113, 188);
}

.contenedorLaEmpresa{
    margin-top: 5rem;
    background-color: #E3E3E3;
    padding-inline: 3rem;
}

.introduccionHistoria{
    margin: auto;
}

.introduccionHistoria p{
    text-align: center;
    color: rgb(0, 113, 188);
    font-weight: 500;
}

.filaMisionVision{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.cardPropiedad{
    background-color: #FFFFFF;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 5px rgba(58, 58, 58, 0.1));
    transition: transform .3s ease;
}

.cardPropiedad h3{
    color: rgb(0, 113, 188);
}

.cardPropiedad p{
    color: rgb(58, 58, 58, 0.9);
}

.cardPropiedad:hover{
    transform: scale(1.04);
    background-color: rgb(0, 113, 188);
}

.cardPropiedad:hover h3{
    color: #FFFFFF;
}

.cardPropiedad:hover p{
    color: #FFFFFF;
}

.tituloValores{
    margin: auto;
    text-align: center;
    background-color: rgb(0, 113, 188, 1);
    filter: drop-shadow(0px 0px 10px rgba(58, 58, 58, 0.2));
}

.tituloValores h2{
    color: rgb(255, 255, 255);
    margin: 0;
}

.contenedorValores{
    display: flex;
    flex-direction: column;
}

.cardValores{
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 5px rgba(58, 58, 58, 0.1));
    text-align: center;
    transition: transform .3s ease;
}

.cardValores h4{
    color: rgb(0, 113, 188);
}

.cardValores:hover{
    transform: scale(1.03);
    background-color: rgb(0, 113, 188);
}

.cardValores:hover h4{
    color: #FFFFFF;
}

.cardValores:hover p{
    color: #FFFFFF;
    font-size: 1rem;
}

@media (max-width: 576px){
    
    .contenedorLaEmpresa{
        padding-block: 3.5rem;
        padding-inline: 0rem;
    }

    .introduccionHistoria{
        width: 100%;
    }

    .introduccionHistoria p{
        width: 90%;
        margin: auto;
        margin-top: 2rem;
        font-size: 1.2rem;
        line-height: 1.4rem;
    }

    .filaMisionVision{
        width: 90%;
        margin-top: 1rem;
        gap: 6%;
    }
    
    .cardPropiedad{
        margin-top: 2rem;
        width: 100%;
        padding-block: 2rem;
        padding-inline: 2rem;
    }

    .tituloValores{
        margin-top: 2rem;
        padding-block: 1rem;
        border-radius: 10px;
        width: 90%;
    }

    .cardValores{
        width: 90%;
        margin-top: 2rem;
        padding-block: 1rem;
        padding-inline: 1rem;
    }

    .tituloCategoriaEmpresa{
        width: 90%;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }

}

@media (min-width: 576px) and (max-width: 992px){
    
    .contenedorLaEmpresa{
        padding-block: 4rem;
        padding-inline: 2rem;
    }

    .introduccionHistoria{
        width: 100%;
    }

    .introduccionHistoria p{
        margin-top: 2rem;
        font-size: 1.3rem;
        line-height: 1.5rem;
    }

    .filaMisionVision{
        width: 100%;
        margin-top: 4rem;
        gap: 6%;
    }
    
    .cardPropiedad{
        margin-top: 2rem;
        width: 100%;
        padding-block: 2rem;
        padding-inline: 2rem;
    }

    .tituloValores{
        margin-top: 2rem;
        padding-block: 1rem;
        border-radius: 10px;
    }

    .cardValores{
        width: 100%;
        margin-top: 2rem;
        padding-block: 1rem;
        padding-inline: 1rem;
    }

    .tituloCategoriaEmpresa{
        width: 100%;
        margin: auto;
        margin-top: 5rem;
        margin-bottom: 7rem;
    }

}

@media (min-width: 992px) and (max-width: 1200px){
    
    .contenedorLaEmpresa{
        padding-block: 5rem;
        padding-inline: 3rem;
    }

    .introduccionHistoria{
        width: 80%;
    }

    .introduccionHistoria p{
        margin-top: 2rem;
        font-size: 1.6rem;
        line-height: 1.8rem;
    }

    .filaMisionVision{
        width: 80%;
        margin-top: 4rem;
        gap: 6%;
    }
    
    .cardPropiedad{
        margin-top: 1rem;
        width: 47%;
        padding-block: 2rem;
        padding-inline: 2rem;
    }

    .tituloValores{
        margin-top: 4rem;
        padding-block: 0.5rem;
        border-radius: 10px;
        width: 80%;
    }

    .cardValores{
        width: 80%;
        margin-top: 2rem;
        padding-block: 1rem;
        padding-inline: 2rem;
    }

    .tituloCategoriaEmpresa{
        width: 80%;
        margin: auto;
        margin-top: 5rem;
        margin-bottom: 7rem;
    }
}

@media (min-width: 1200px){

    .contenedorLaEmpresa{
        padding-block: 5rem;
        padding-inline: 3rem;
    }

    .introduccionHistoria{
        width: 80%;
    }

    .introduccionHistoria p{
        margin-top: 2rem;
        font-size: 1.6rem;
        line-height: 1.8rem;
    }

    .filaMisionVision{
        width: 80%;
        margin-top: 4rem;
        gap: 6%;
    }
    
    .cardPropiedad{
        margin-top: 1rem;
        width: 47%;
        padding-block: 2rem;
        padding-inline: 2rem;
    }

    .tituloValores{
        margin-top: 4rem;
        padding-block: 0.5rem;
        border-radius: 10px;
        width: 80%;
    }

    .cardValores{
        width: 80%;
        margin-top: 2rem;
        padding-block: 1rem;
        padding-inline: 2rem;
    }
    
    .tituloCategoriaEmpresa{
        width: 80%;
        margin: auto;
        margin-top: 5rem;
        margin-bottom: 7rem;
    }
}