.tituloCategoria{
    font-size: 1rem;
    padding-inline: 2rem;
    font-weight: 700;
    text-align: start;
    color: rgb(0, 113, 188);
}

.separacionTituloCategoria{
    border-top: 1px solid rgb(58,58,58, 0.2);
    padding-top: 3rem;
}
