.textoInicio1{
    margin: auto;
    margin-block: 5rem;
    font-size: 1.5rem;
    line-height: 1.8rem;
    padding-inline: 2rem;
    font-weight: 500;
    text-align: center;
    color: rgb(0, 113, 188);
    filter: drop-shadow(2px 2px 2px rgb(58, 58, 58, 0.2));
}

.textoInicio2{
    margin: auto;
    font-size: 1.2rem;
    line-height: 1.4rem;
    padding-block: 1.2rem;
    padding-inline: 2rem;
    font-weight: 500;
    text-align: center;
    background-color: rgb(0, 113, 188);
    color: #FFFFFF;
}

.textoInicio3{
    margin: auto;
    margin-block: 5rem;
    font-size: 1.5rem;
    line-height: 1.8rem;
    padding-inline: 2rem;
    font-weight: 500;
    text-align: center;
    color: rgb(0, 113, 188);
    filter: drop-shadow(2px 2px 2px rgb(58, 58, 58, 0.2));
}

.contenedorTextos{
    position: relative;
}
    
.imagenTextos{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 15%;
}
    
.imagenTextos img{
    width: 250px;
    filter: grayscale(100%);
    opacity: 0.3;
}

@media (max-width: 576px){
    .textoInicio1{
        width: 100%;
    }

    .textoInicio2{
        width: 100%;
    }

    .textoInicio3{
        width: 100%;
    }

    .textoInicio2 span{
        display: block;
        opacity: 1;
        margin-block: 0.5rem;
        transform: rotate(100grad);
        line-height: 1rem;
    }
}

@media (min-width: 576px) and (max-width: 992px){
    .textoInicio1{
        width: 80%;
    }

    .textoInicio2{
        width: 100%;
    }

    .textoInicio3{
        width: 80%;
    }

    .textoInicio2 span{
        font-size: 2rem;
        margin-inline: 1rem;
        position: relative;
        top: 2px;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .textoInicio1{
        width: 50%;
    }

    .textoInicio2{
        width: 90%;
        border-radius: 16px;
    }

    .textoInicio3{
        width: 50%;
    }

    .textoInicio2 span{
        font-size: 2rem;
        margin-inline: 1rem;
        position: relative;
        top: 2px;
    }
}

@media (min-width: 1200px){
    .textoInicio1{
        width: 50%;
    }

    .textoInicio2{
        width: 90%;
        border-radius: 16px;
    }

    .textoInicio3{
        width: 50%;
    }

    .textoInicio2 span{
        font-size: 2rem;
        margin-inline: 1rem;
        position: relative;
        top: 2px;
    }
}