.contenedorCarouselPortada{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}

.itemCarouselPortada{
    height: 100vh;
    background-color: red;
}

.itemCarouselPortada img{
    height: 100vh;
    opacity: 0;
    filter:brightness(70%)
}

.itemCarouselPortada1{
    background-color: rgb(58,58,58,0);
    background-image: url("../../assets/CarrouselPortada/carousel1.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-position: center center;
    background-attachment: fixed;
}

.itemCarouselPortada2{
    background-color: rgb(58,58,58,0);
    background-image: url("../../assets/CarrouselPortada/carousel2.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-position: center center;
    background-attachment: fixed;
}
    
.textoCarouselPortada{
    position: absolute;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 1px;
    filter: drop-shadow(5px 5px 5px rgb(58, 58, 58, 0.5));
    z-index: 2;
}