.carouselServicio{
    width: 100%;
    aspect-ratio: 2;
}

.carouselServicio img{
    width: 100%;
    aspect-ratio: 2;
    object-fit: cover;
    object-position: center center;
}

@media (min-width: 993px){
    .carouselServicio{
        display: none;
    }
}