.tituloServiciosyObras{
    font-size: 1rem;
    font-weight: 700;
    color: rgb(0, 113, 188);
    margin-bottom: 1rem;
}

.contenedorServicios{
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 10rem;
}

.itemServicio{
    margin: auto;
    margin-top: 5rem;
}

.itemServicio img{
    width: 100%;
}

.infoItemServicio{
    display: flex;
    flex-direction: column;
}

.infoItemServicio h2{
    color: rgb(174, 204, 84,0.9);
    font-family: 'Anton', sans-serif;
    letter-spacing: 0px;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.infoItemServicio p{
    color: rgb(58,58,58, 0.9);
}

@media (max-width: 576px){

    .contenedorServicios{
        width: 100%;
    }
    
    .itemServicio{
        width: 90%;
    }
    
    .infoItemServicio{
        margin-top: 2.5rem;
        padding-inline: 1rem;
        justify-content: top;
        align-items: start;
        padding-bottom: 2rem;
    }

    .infoItemServicio h2{
        text-align: center;
        margin: auto;
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    .infoItemServicio p{
        text-align: center;
        margin: auto;
        font-size: 1rem;
        font-weight: 500;
        margin-top: 0.8rem;
    }

    .infoItemServicio img{
        display: block;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 0.4rem;
        width: 30px;
        height: 34.2px;
    }
}

@media (min-width: 576px) and (max-width: 992px){

    .contenedorServicios{
        width: 100%;
    }
    
    .itemServicio{
        width: 90%;
    }
    
    .infoItemServicio{
        margin-top: 2.5rem;
        padding-inline: 2rem;
        justify-content: top;
        align-items: start;
        padding-bottom: 2rem;
    }

    .infoItemServicio h2{
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .infoItemServicio p{
        font-size: 1rem;
        margin-top: 0.8rem;
    }

    .infoItemServicio img{
        position: relative;
        top: -1.5px;
        width: 30px;
        height: 34.2px;
        margin-right: 0rem;
    }

    .itemServicioReverse{
        flex-direction: row-reverse;
    }
    
    .itemServicioReverse h2{
        width: 100%;
        text-align: end;
    }
    
    .itemServicioReverse p{
        width: 100%;
        text-align: end;
        display: flex;
        flex-direction: row-reverse;
    }
}

@media (min-width: 992px) and (max-width: 1200px){

    .contenedorServicios{
        width: 80%;
    }
    
    .itemServicio{
        width: 100%;
    }
    
    .infoItemServicio{
        padding-inline: 2rem;
        justify-content: end;
        align-items: start;
        padding-bottom: 2rem;
    }

    .infoItemServicio h2{
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .infoItemServicio p{
        font-size: 1.1rem;
        margin-top: 0.8rem;
    }

    .infoItemServicio img{
        position: relative;
        top: -1.5px;
        width: 35px;
        height: 40px;
        margin-right: 0rem;
    }

    .itemServicioReverse{
        flex-direction: row-reverse;
    }
    
    .itemServicioReverse h2{
        width: 100%;
        text-align: end;
    }
    
    .itemServicioReverse p{
        width: 100%;
        text-align: end;
        display: flex;
        flex-direction: row-reverse;
    }
}

@media (min-width: 1200px){

    .contenedorServicios{
        width: 80%;
    }

    .itemServicio{
        width: 100%;
    }
    
    .infoItemServicio{
        padding-inline: 2rem;
        justify-content: end;
        align-items: start;
        padding-bottom: 2rem;
    }

    .infoItemServicio h2{
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .infoItemServicio p{
        font-size: 1.1rem;
        margin-top: 0.8rem;
    }

    .infoItemServicio img{
        position: relative;
        top: -1.5px;
        width: 35px;
        height: 40px;
        margin-right: 0rem;
    }

    .itemServicioReverse{
        flex-direction: row-reverse;
    }
    
    .itemServicioReverse h2{
        width: 100%;
        text-align: end;
    }
    
    .itemServicioReverse p{
        width: 100%;
        text-align: end;
        display: flex;
        flex-direction: row-reverse;
    }
}