.contenedorQuienesSomos{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.tituloDirectorio{
    color: rgb(0, 113, 188, 1);
    font-weight: 600;
    margin-top: 1rem;
}

.contenedorPresiVice{
    margin: auto;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cardPresiVice{
    border-radius: 16px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
}

.cardPresiVice:hover{
    transform: scale(1.02);
    opacity: 1;
}

.cardPresiVice img{
    width: 100%;
    border-radius: 16px;
}

.cardPresiVice h3{
    color: rgb(0, 113, 188, 0.9);
    font-weight: 600;
}

.cardPresiVice h4{
    color: rgb(58, 58, 58, 0.9);
    font-size: 1rem;
    font-weight: 300;
    margin-top: -0.5rem;
}

.cardPresiVice p{
    width: 100%;
    margin: auto;
    margin-top: 1.3rem;
    color: rgb(58, 58, 58, 0.9);
    font-size: 1rem;
    text-align: start;
}

.cardPresiVice span{
    display: block;
}

.contenedorEmpleados{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cardEmpleado{
    border-radius: 16px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
}

.cardEmpleado:hover{
    transform: scale(1.02);
    opacity: 1;
}

.cardEmpleado img{
    width: 100%;
    border-radius: 16px;
}

.cardEmpleado h3{
    color: rgb(0, 113, 188, 0.9);
    font-weight: 450;
}

.cardEmpleado h4{
    color: rgb(58, 58, 58, 0.9);
    font-weight: 400;
    margin-top: -0.5rem;
}

.cardEmpleado span{
    display: block;
}

@media (max-width: 576px){

    .tituloDirectorio{
        font-size: 2.3rem;
        padding-inline: 2rem;        
    }

    .contenedorPresiVice{
        width: 100%;
        gap: 4%;
        padding-inline: 1.7rem;
    }

    .cardPresiVice{
        width: 100%;
        padding-inline: 1rem;
        padding-block: 1rem;
        opacity: 1;
        margin-bottom: 2rem;
    }

    .cardPresiVice h3{
        margin-top: 1.2rem;
        font-size: 1.5rem;
    }

    .cardPresiVice span{
        margin-top: 1rem;
    }

    .contenedorEmpleados{
        width: 100%;
        margin-top: 1rem;
        gap: 4%;
        padding-inline: 1.7rem;
    }
    
    .cardEmpleado{
        width: 48%;
        padding-inline: 1rem;
        padding-block: 1rem;
        margin-bottom: 1rem;
        opacity: 1;
    }

    .cardEmpleado h3{
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1rem;
        line-height: 1.2rem;
    }

    .cardEmpleado h4{
        text-align: center;
        font-size: 0.9rem;
    }
    

}

@media (min-width: 576px) and (max-width: 992px){

    .tituloDirectorio{
        font-size: 3rem;
        padding-inline: 2rem;
    }

    .contenedorPresiVice{
        width: 100%;
        gap: 4%;
        padding-inline: 2rem;
    }

    .cardPresiVice{
        width: 48%;
        padding-inline: 2rem;
        padding-block: 2rem;
        opacity: 0.9;
    }

    .cardPresiVice h3{
        margin-top: 1.4rem;
        font-size: 1.7rem;
    }

    .contenedorEmpleados{
        width: 100%;
        margin-top: 1rem;
        gap: 4%;
        padding-inline: 2rem;
    }
    
    .cardEmpleado{
        width: 22%;
        padding-inline: 1rem;
        padding-block: 1rem;
        opacity: 1;
    }

    .cardEmpleado h3{
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1rem;
        line-height: 1.2rem;
    }

    .cardEmpleado h4{
        text-align: center;
        font-size: 1rem;
    }
    

}

@media (min-width: 992px) and (max-width: 1200px){

    .tituloDirectorio{
        font-size: 3rem;
        padding-inline: 2rem;
    }

    .contenedorPresiVice{
        width: 80%;
        gap: 4%;
        padding-inline: 2rem;
    }

    .cardPresiVice{
        width: 48%;
        padding-inline: 2rem;
        padding-block: 2rem;
        opacity: 1;
    }

    .cardPresiVice h3{
        margin-top: 1.4rem;
        font-size: 2rem;
    }

    .contenedorEmpleados{
        width: 80%;
        margin-top: 3%;
        gap: 4%;
        padding-inline: 2rem;
    }
    
    .cardEmpleado{
        width: 22%;
        padding-inline: 1rem;
        padding-block: 1rem;
        opacity: 0.9;
    }

    .cardEmpleado h3{
        margin-top: 1.2rem;
        font-size: 1.2rem;
    }

    .cardEmpleado h4{
        font-size: 1rem;
    }
    

}

@media (min-width: 1200px){

    .tituloDirectorio{
        font-size: 3rem;
        padding-inline: 2rem;
    }

    .contenedorPresiVice{
        width: 70%;
        gap: 4%;
        padding-inline: 2rem;
    }

    .cardPresiVice{
        width: 48%;
        padding-inline: 2rem;
        padding-block: 2rem;
        opacity: 0.9;
    }

    .cardPresiVice h3{
        margin-top: 1.4rem;
        font-size: 2rem;
    }

    .contenedorEmpleados{
        width: 70%;
        margin-top: 3%;
        gap: 4%;
        padding-inline: 2rem;
    }
    
    .cardEmpleado{
        width: 22%;
        padding-inline: 1rem;
        padding-block: 1rem;
        opacity: 0.9;
    }

    .cardEmpleado h3{
        margin-top: 1.2rem;
        font-size: 1.2rem;
    }

    .cardEmpleado h4{
        font-size: 1rem;
    }
    
}